/* drop css here */
* {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
  }
/* #4A4F53 gray
#0A0C0E use this instead of black  */
  body, html {
    /* padding: 3px 3px 3px 3px; */

    background-color: #fafafa;
    color: #fff;

    font-family:sans-serif;
    font-size: 11pt;
    text-align: center;
  }
  h1{
    font:bolder;
    font-style: inherit;
  }
  h2{
   font:500;
   font-style: inherit;
  }
  a {
    text-decoration: none;
     background-color: none;
     color: #fff; 

  }
  table{
    width: 100%;
  }
  table.table_of_contents,
  td.table_of_contents{
    border: 1px solid #0A0C0E;
    border-collapse: collapse;
    text-decoration: none;
    font-weight: bold;
    background-color: #0A0C0E;
  }
  th,td{
    padding: 5px;
    text-align: center;
  }
  input[type=text], select, textarea {
    width: 100%; 
    padding: 12px;  
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical 
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  /* Add a background color and some padding around the form */
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }

  .footer{
    width: 100%;
   height: 20%;
     /* min-height: 20%;
    max-height: 20%; */
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: #0A0C0E;
    color: #fff ;
    text-align: center;
  }

  div.right_footer{
    min-width: 10%;
    min-height: 70%;
    /* background-color: #000000; */
    background: transparent;

    color:white ;
    float: right;
    text-align: center;
  }

  div.left_footer{
    min-width: 10%;
    min-height: 70%;
    /* background-color: #000000; */
    background: transparent;
    color:white ;
    float: left;
    text-align: center;
  }

  .header{
    width: 100%;
    height: 10%;
    background-color: #0A0C0E;
    color:#fff ;
    float: left;
    text-align: center;
  }
  .main{
    width: 80%;
    min-height: 1000px;
    background-color: transparent;
    color:#000 ;
    float: left;
    text-align: left;
  }
    
 .footer_contact_image{
  width:36px; 
  height: 36px;
   cursor: pointer;
   transition-duration: 0.3s;
   border-radius: 14px;

 }
 .footer_contact_image:hover{
  width:43px; height: 43px; 
  background-color: #11c717; 
 }

 div.welcome_div{
   text-align: center;

 }
 u{
  text-decoration: none;
  border-bottom: 4px solid #11c717;
 }

 .nice_button{
  border: 2px solid #11c717; 
  border-radius: 12px;
  color: #000;
  /* padding: 15px 26px; */
  width: 100px;
  height: 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
 }
 .nice_button:hover {
  background-color: #000000; 
  color: white;
  width: 120px;
}

.header_menu_item{
  border-top: 1px solid #0A0C0E;
  border-right: 1px solid #0A0C0E;
  border-left: 1px solid #0A0C0E;
width: 20%;
}
.header_menu_item:hover{
  background-color: #2b3136;
  border-bottom: 4px solid #11c717;
}