/* drop css here */
* {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}
:root {
  --cy-green: #11c717;
  --cy-black: #0a0c0e;
  --cy-white: #fafafa;
}

/* #4A4F53 gray
#11c717 this green <3
#0A0C0E use this instead of black  */
body,
html {
  /* padding: 3px 3px 3px 3px; */

  background-color: var(--cy-white);
  color: #fff;

  font-family: sans-serif;
  font-size: 11pt;
  text-align: center;
}
h1 {
  font: bolder;
  font-style: inherit;
}
h2 {
  font: 500;
  font-style: inherit;
}
a {
  text-decoration: none;
  background-color: none;
  color: #fff;
}
table {
  width: 100%;
}

.image {
  width: 100%;
}
table.table_of_contents,
td.table_of_contents {
  border: 1px solid var(--cy-black);
  border-collapse: collapse;
  text-decoration: none;
  font-weight: bold;
  background-color: var(--cy-black);
}
th,
td {
  padding: 5px;
  text-align: center;
}

.footer {
  width: 100%;
  height: 20%;
  position: fixed;
  left: 0;
  bottom: 0;
  background-color: var(--cy-black);
  color: #fff;
  text-align: center;
}

.header {
  width: 100%;
  height: 10%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: var(--cy-black);
  color: #fff;
  float: left;
  text-align: center;
}
.main {
  padding-top: 10%;
  padding-bottom: 25%;
  width: 80%;
  margin-left: 8%;
  margin-right: 8%;
  min-height: 2800px;  /*  Height of all page */
  background-color: transparent;
  color: #000;
  float: left;
  text-align: left;
}

.footer_contact_image {
  width: 36px;
  height: 36px;
  cursor: pointer;
  transition-duration: 0.3s;
  border-radius: 14px;
}
.footer_contact_image:hover {
  width: 43px;
  height: 43px;
  background-color: var(--cy-green);
}

div.centred_div {
  text-align: center;
}
u {
  text-decoration: none;
  border-bottom: 4px solid var(--cy-green);
}
input[type=text],[type=email],textarea {
  border: none;
  width: 250px;
  background-color: transparent ;
  border-bottom: 2px solid var(--cy-green);
  transition: 0.4s ease-in-out;
}
input[type=text]:focus,[type=email]:focus,textarea:focus {
width: 100%;
background-color: #d3d2d2
}

.nice_button {
  border: 2px solid var(--cy-green);
  border-radius: 12px;
  color: #000;
  /* padding: 15px 26px; */
  width: 100px;
  height: 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
}
.nice_button:hover {
  background-color: #000000;
  color: white;
  width: 120px;
}

#header_menu_current_item {
  color: var(--cy-green);
}

.header_menu_item {
  border-top: 1px solid var(--cy-black);
  border-right: 1px solid var(--cy-black);
  border-left: 1px solid var(--cy-black);
  width: 20%;
  text-decoration: none;
  background-color: none;
  color: #fff;
}
.header_menu_item:hover {
  background-color: #2b3136;
  border-bottom: 4px solid var(--cy-green);
}
.header_menu_button{
width: 100%;
height: 100%;
background-color: transparent;
color: #fff;
border: none;
font:16px  bolder ;
}

.image_background{/*this thing stays in .card*/
  border-radius: 11px;
  background-color: #e2e2e2;
  background: -o-repeating-linear-gradient(--cy-black);
}
div.in_card_div{
  margin: 20px;
}
.card_image{
  width: 70%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: auto;
}
.card{
  border: 2px solid var(--cy-black);
  margin-top: 20px;
  border-radius: 11px;
  width: 100%;
}

.info_image_background{/*this thing stays in .info_card*/
  border-radius: 11px;
  margin-top: 10px;
  margin-bottom: 10px;
}
div.in_info_card_div{
  margin: 20px;
  text-align:center;
}

.info_card{
  box-shadow: 0 0 7px var(--cy-green);
  border: 0.1px solid var(--cy-green);
  margin-top: 30px;
  margin-bottom: 20px;
  min-height: 330px;
  border-radius: 11px;
  width: 100%;
}

.info_block{
  display: block;
  width: 29%;
  margin-left: 2.1%;
  margin-right: 2.1%;
  float: left;
}

.contact_form{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: max-content;
}
#blog,
 #support_us,
 #info{
padding-top: 15%;

}
#blog{

}
#support_us{

}
#info{

}

@media screen and (min-width: 1100px) {
  .image , .card, .contact_form{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  .info_card{
    min-height: 370px;
  }
}

@media screen and (max-width: 700px) {
  .main {
    padding-top: 100px;
    /* height: 3000px; */
  }
  input[type=text],[type=email],textarea {
width: 100%;  }
  #blog,
 #support_us,
 #info{
padding-top: 100px;
}
.info_block{
  width: 100%;
}
}
