/* drop css here */
* {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

:root {
  --cy-green: #11c717;
  --cy-black: #0a0c0e;
  --cy-white: #fafafa;
}

/* #4A4F53 gray
#11c717 this green <3
#0A0C0E use this instead of black  */
body,
html {
  /* padding: 3px 3px 3px 3px; */

  background-color: var(--cy-white);
  color: #fff;

  font-family: sans-serif;
  font-size: 11pt;
  text-align: center;
}
h1 {
  font: bolder;
  font-style: inherit;
}
h2 {
  font: 500;
  font-style: inherit;
}
a {
  text-decoration: none;
  background-color: none;
  color: #fff;
}
table {
  width: 100%;
}

.image {
  width: 100%;
}
table.table_of_contents,
td.table_of_contents {
  border: 1px solid var(--cy-black);
  border-collapse: collapse;
  text-decoration: none;
  font-weight: bold;
  background-color: var(--cy-black);
}
th,
td {
  padding: 5px;
  text-align: center;
}

.footer {
  width: 100%;
  height: 20%;
  position: fixed;
  left: 0;
  bottom: 0;
  background-color: var(--cy-black);
  color: #fff;
  text-align: center;
}

.header {
  width: 100%;
  height: 10%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: var(--cy-black);
  color: #fff;
  float: left;
  text-align: center;
}
.main {
  padding-top: 10%;
  /* padding-bottom: 25%; */
  width: 84%;
  margin-left: 8%;
  margin-right: 8%;
  min-height: 2800px; /*  Height of all page */
  background-color: transparent;
  color: #000;
  float: left;
  text-align: left;
}

.footer_contact_image {
  width: 36px;
  height: 36px;
  cursor: pointer;
  transition-duration: 0.3s;
  border-radius: 14px;
}
.footer_contact_image:hover {
  width: 43px;
  height: 43px;
  background-color: var(--cy-green);
}

.centred_div {
  text-align: center;
}
u {
  text-decoration: none;
  border-bottom: 4px solid var(--cy-green);
}
input[type="text"],
[type="email"],
textarea {
  border: none;
  width: 250px;
  background-color: transparent;
  border-bottom: 2px solid var(--cy-green);
  transition: 0.4s ease-in-out;
}
input[type="text"]:focus,
[type="email"]:focus,
textarea:focus {
  width: 100%;
  background-color: #d3d2d2;
}

.nice_button {
  border: 2px solid var(--cy-green);
  border-radius: 12px;
  color: #000;
  /* padding: 15px 26px; */
  width: 100px;
  height: 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
}
.nice_button:hover {
  background-color: #000000;
  color: white;
  width: 120px;
}

#header_menu_current_item {
  color: var(--cy-green);
}

.header_menu_item {
  border-top: 1px solid var(--cy-black);
  border-right: 1px solid var(--cy-black);
  border-left: 1px solid var(--cy-black);
  width: 20%;
  text-decoration: none;
  background-color: none;
  color: #fff;
}
.header_menu_item:hover {
  background-color: #2b3136;
  border-bottom: 4px solid var(--cy-green);
}
.header_menu_button {
  width: 100%;
  height: 100%;
  background-color: transparent;
  color: #fff;
  border: none;
  font: 16px bolder;
}

.image_background {
  /*this thing stays in .card*/
  border-radius: 11px;
  background-color: #e2e2e2;
  background: -o-repeating-linear-gradient(--cy-black);
}
div.in_card_div {
  margin: 20px;
}
.card_image {
  width: 70%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: auto;
}
.card {
  border: 2px solid var(--cy-black);
  margin-top: 20px;
  border-radius: 11px;
  width: 100%;
}

.info_image_background {
  /*this thing stays in .info_card*/
  border-radius: 11px;
  margin-top: 10px;
  margin-bottom: 10px;
}
div.in_info_card_div {
  margin: 20px;
  text-align: center;
}

.info_card {
  box-shadow: 0 0 7px var(--cy-green);
  border: 1px solid var(--cy-green);
  margin-top: 30px;
  margin-bottom: 20px;
  min-height: 330px;
  border-radius: 11px;
  width: 100%;
}

.info_block {
  display: block;
  width: 29%;
  margin-left: 2.1%;
  margin-right: 2.1%;
  float: left;
}

.contact_form {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: max-content;
}
.header_menu_item button{
font-weight: 800;
}

#blog,
#support_us,
#info {
  padding-top: 15%;
}
/* #blog {
}
#support_us {
} 
*/

#info {
  min-height: 300px;
}
#earth {
  /* [1] Allow it to contain the absolutely positions pseudo-elements (later-on) */
  position: relative;

  /* [2] Set-up the dimensions and spacing */
  width: 300px;
  height: 300px;
  margin: 3em auto;

  /* [3] Prepare the animation effects */
  transition: transform 200ms linear;
  animation: rotate 4s linear infinite; /* This is going to be defined in the next step */

  /* [4] Tweak the appearance, and give it a nice background i.e. the world map */
  color: #000;
  border-radius: 50%;
  background: url('../images/world_cyber_map.png') 0 0 repeat / 630px;
  box-shadow: inset 20px 0 80px 6px rgba(0, 0, 0, 1);

  /* [5] Position things in a 3d space */
  transform-style: preserve-3d;
}

#earth:after {
  /* [1] Break the flow to show this as an overlay */
  position: absolute;
  top: 0;
  left: 0;

  /* [2] Make it take all the space available in the box (ahem... globe!) */
  width: 100%;
  height: 100%;

  /* [3] Make sure this has no generated content, as we want this just for fancy purposes */
  content: '';

  /* [4] Give it some shape and shadow */
  border-radius: 50%;
  box-shadow: -80px 15px 80px 10px rgba(0,0,0,.9) inset;
}
#earth:before {
  /* [1] Again, break the flow to show this as an overlay */
  position: absolute;
  top: 0;
  left: 0;

  /* [2] Again, give it all the available space */
  width: 100%;
  height: 100%;

  /* [3] Duh. */
  content: '';

  /* [4] Add some shape and overlay effect to it */
  opacity: 0.2;
  border-radius: 50%;
  background: radial-gradient(circle at 100px 100px, #fff, #000);
}
 @keyframes rotate {
    0% {background-position: 0 0;}
    100% {background-position: 630px 0;}
  }

.iframe{
  margin: 50px 0 50px; 
  width: 100%;
  height: 400px;
}

@media only screen and (min-width: 1100px) {
  .image,
  .card,
  .contact_form {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  .info_card {
    min-height: 390px;
  }
}

@media only screen and (max-width: 700px) {
  .main {
    padding-top: 100px;
    min-height: 3500px; 
  }
  input[type="text"],
  [type="email"],
  textarea {
    width: 100%;
  }
  #blog,
  #support_us,
  #info {
    padding-top: 100px;
  }
  .info_block {
    width: 100%;
  }
  #info {
    min-height: 1240px;
  }

}
